.env
CHECKS/
.venv/
.vscode/
*.pyc
__pycache__/
logs/

*.py[cod]
*.pyo
*.pyd
*.egg-info/
.mypy_cache/
.pytest_cache/

data/

update.md

backend/app/data/

frontend/dist/
frontend/.vite/
frontend/.cache/

node_modules/

**/*.db
**/*.sqlite
**/*.sqlite3ull


blueprint1.md