PINECONE_API_KEY=YOUR_API_KEY
PINECONE_INDEX=index_name
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1

GROQ_API_KEY=YOUR_API_KEY
GROQ_MODEL=YOUR_MODEL_FROM_GROQ_CATALOG

CONNECTION_TIMEOUT_MINUTES=10
MAX_RESULT_ROWS=YOUR_CHOICE_FOR_DISPLAY